/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff; /* Track color */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4caf50; /* Scrollbar handle color */
    border-radius: 30px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #388e3c; /* Handle color on hover */
}
